*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}



body{font-family: 'SUIT Variable', sans-serif;}




#header{position: relative; width: 100%;
    height: 155px; background-color: #fef6e5;
    font-family: 'NanumSquare', sans-serif;
   
}

.logo{position: absolute; 
 top:24px;/*top:20px;*/ left:50%; 
margin-left: -120px;}

.nav{position: absolute; top:117px;/*top:110px*/ left: 50%;
 margin-left: -672.165px;}
.nav li{float: left; padding: 0 30px;}

.nav li a:hover{color: #db8047;}

.nav li a{display: block; padding: 0 80px; 
font-size: 20px; color: #634e41; font-weight: 600;
opacity: 75%;}

.nav li:nth-child(2) a{padding: 0 115px;}
/*.nav li:nth-child(3) a{padding: 0 150px;}*/



/*banner*/
#banner{width: 100%; 
    height: 609px;
    margin-bottom: 100px;
   
    text-align: center;
 
}

#banner img{width:100%;}




/*commuintro*/

.iconcommu{
    display:inline-block; 

    background: url(images/icon-commu.jpg) no-repeat 14% -9.5%;
    padding: 5px 50px 80px 50px;

    margin: 140px 0 30px 0;

}


#commuintro{width:100%; height:451px; 
}

.commuintro_inner{width:1093px; margin:0 auto;
            text-align: center;
}

h1{padding:150px 0 100px 0; }
.commubox{height:300px; padding-left: 10px;}
.commubox li{float:left; width:320px; padding-left: 21px;

}
.commubox li a{border:2px solid #fbdcda;
    display: inline-block; 
    border-radius: 20px 20px 20px;padding:8px 12px;
} 

/*버튼호버효과*/
.commubox li a:hover{background-color:  #fbdcda; }
.commubox li p:hover{color: #333;}

.margin{margin:0 20px;}

.big{font-size:18px; color:#555; font-weight: 600;  }






/*notice*/
#notice{width: 100%; height:830px;}
.notice_inner{width: 1230px; height:1208px; margin: 0 auto;
padding-left: 118px;}

h3{/*width: 66px;*/ border-bottom: 1px solid #555;}

.slist{width: 1100px; height:52px; padding-left: 38px;}
.search li h3 {float: left;}
.search li.sbutton{float: right;}

/*table*/
table{width: 1000px; text-align: center; margin: 58px auto;
    border-bottom: 2px solid #888; border-collapse:collapse;
    margin-left: 71px;}
.blue{color: #606ab1; font-weight: 550;}

th{font-size: 17px; color: #333; padding: 20px 0;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888; }

td{padding:15px 0; border-bottom: 1px solid #ccc; }
.text_left{text-align: left; padding-left: 120px; font-weight: 550;
opacity: 85%; }

.text_left a{color: #222;}
.text_left a:hover{color:#1627a5;}

.text_right{padding-right: 10px;}


.notice_list{width: 403px; height: 79px; margin: 0 auto; padding-top: 28px;}
.list{width: 305px; height: 60px;}
.list li{float: left;}
.limargin{margin: 0px 5px;}

.limargin a img:hover{opacity: 85%;}


/*ask*/
.h_ask{width: 53px; border-bottom: 1px solid #555;}

#ask{width: 100%; height: 710px; background-color: #fbdcda;}
.ask_inner{width: 1071px; height: 800px; margin:0 auto;
padding-top: 122px;}

.ask_ul{width: 1033px; height: 442px; padding-left: 50px;}
.ask_ul li{float: left;}
.ask1{padding-right: 224px; }


.small{font-size: 14px;}
/*.small:nth-child(1){font-weight: bold;}*/
.line{border: 4px solid #fbdcda;}
.line_g{border: 3px solid #fbdcda;}

.ask_button{width: 1033px; height:42px; text-align: center; margin-top: 60px;}
.ask_button a{background-color: #88bdc9; color: #eff5f6; 
    font-size: 18px;
    font-weight: bold;
    padding:10px 18px; border-radius: 10px;}
    
    .ask_button a:hover{background-color:#30afaf;
    color:  #f7e79f;;}    



/*space*/
.h_space{width: 119px;  border-bottom: 1px solid #555;}

#space{width: 100%; height: 710px; margin: 110px auto;}
.space_inner{width: 1300px; height:710px; margin: 0 auto;}

.space_ul{width: 1200px; height:593px;}
.space_ul li{float: left;}

/**/
.spce_ul li img{overflow: hidden;}
.space_ul li:hover .s_img2{transform: scale(1.2,1.2);
    transition:all 3s;}


.s_img2{padding:95px 139px 0 0;}

.s_text{width: 490.88px; height:624px;}

.s_line{border-bottom: 2px solid #fff;}



/*map*/
#map{width: 100%; height: 800px;}
.map_inner{width: 1300px; height: 710px; margin: 0 auto;}

h4{position: relative; font-size: 18px;}
h4 img{position: absolute; top: 3px; left:2px;}
.bold{font-weight: bold;}
.grey{color: #333;}


/*footer*/
#footer{width:100%; height:120px; background: #fef6e5;
    padding-top:40px; margin-top: 80px;}
.footer_inner{padding-left: 50px; width:1320px; margin:0 auto;}

.footerlogo{float:right;}
.footertext{float:left;text-align: left; font-size: 18px;
    color: #634e41; font-weight: 500px;}

.footertext p:hover{color:black;}
